
a {
  text-decoration: none;
  color: inherit;
}


.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--instagram:hover { color: #833ab4 }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--instagram:hover::after { background: #833ab4 }

.c-link {
  position: relative;
  color: #bbb;
}

.c-link:not(:last-of-type) {
  margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .2s;
}

.c-tooltip::before {
  content: '';
  bottom: calc(100% + 22px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.c-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 32px);
  padding: .61em 2em;
  font-size: 1.2rem;
  color: white;
  border-radius: 4px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
  opacity: 1;
}
