


<div class="container justify-content-center mb-5" style="margin-top: 100px">
  <h1 style="text-align: center">Sobre o Núcleo de Engenharia de Sistemas</h1>
  <h4>
        O Núcleo de Engenharia de Sistemas (NES) tem como principal propósito representar os estudantes da Licenciatura em Engenharia de Sistemas (LES) no Instituto Superior de Engenharia do Porto (ISEP), bem como desenvolver diversas iniciativas e projetos para os mesmos e para toda a comunidade académica.
    Este núcleo foi fundado no ano letivo 2016/2017 por um grupo de estudantes, com o objetivo de dar a conhecer a licenciatura, mas também de facilitar a comunicação entre estudantes, docentes e até o próprio instituto.
    O principal evento que organizamos anualmente são as Jornadas da LES, onde o principal objetivo é dar a conhecer aos estudantes inúmeras empresas, para mais tarde facilitar o ingresso no mercado de trabalho.
  </h4>
</div>

<div class="container justify-content-center" style="margin-bottom: 80px;">
  <mat-card class="justify-content-center mb-3" style="text-align: center;  border-radius: 20px">
    <div style="background-color: #B9553F; border-radius: 10px;    border-style: outset;
  border-width: 3px;
  border-color: #e08874;">
      <h2 id="titleNES" style="color: white; margin-top: 15px;">Núcleo de Engenharia de Sistemas</h2>
    </div>
    <br>
    <h4>Diretora de curso: Maria Teresa Costa</h4>
    <h4>E-mail da diretora: mco@isep.ipp.pt</h4>
    <br>
    <hr>
    <br>
    <h4>E-mail do Núcleo: geral@nes-isep.pt</h4>
    <h4>Contacto do Núcleo: +351 926525013</h4>
    <br>
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="620" height="500" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Instituto%20Superior%20de%20Engenharia%20do%20Porto&t=&z=17&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <style>.mapouter {
          position: relative;
        }</style>
        <a href="https://www.embedgooglemap.net"></a>
        <style>.gmap_canvas {
          overflow: hidden;
          background: none !important;
        }</style>
      </div>
    </div>
  </mat-card>
</div>


