mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

.resize {
  width: 20%;
  border-radius: 20px;
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.resize:hover {
  border-radius: 20px;
  transform: scale(1.1);
  z-index: 2;
}

@media (max-width: 1000px){
  .mat-card {
    width: 90%;
  }
}


