.carousel .carousel-item {
  height: 500px;
}

.carousel {
  z-index: 0;
}

.carousel-item img {
  position: absolute;
  top: 0;
  width:100%;
  min-height: 500px;
  bottom: 0;
  right: 0;
}

@media (max-width: 1000px){
  .image {
    height: 300px;
  }
  #carouselExampleCaptions {
    margin-top: 22px
  }

}
