<div id="spacerTop" class="row">
  <app-carousel></app-carousel>
</div>


<div style=" background-color: #A33F1F; width: 100%; height: 25px; transform: rotateZ(0.5deg); transform: translateY(-15px)"></div>
<div style="margin-top: 5px; background-color: #A33F1F; width: 100%; height: 15px; transform: rotateZ(0.5deg); transform: translateY(-15px)"></div>

<app-sub-banner-material class="row justify-content-center"></app-sub-banner-material>
<br>
<br>

<div style=" background-color: #A33F1F; width: 100%; height: 25px; transform: rotateZ(0.5deg); transform: translateY(-15px)"></div>
<div style="margin-top: 5px; background-color: #A33F1F; width: 100%; height: 15px; transform: rotateZ(0.5deg); transform: translateY(-15px)"></div>

<br>
<app-arrows></app-arrows>
<br>

<br>

