/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #F5F5F5  !important;
}
